@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>We work to feed deprived people and children by utilizing excess food from events, offices, and buffets in Dhaka city.</p>
</main>